# Data Analytics /w Python Final Exam, 2024 Fall, Session 5:45 PM

<p><b>Instructions</b>
<ol>
<li>Download all the .csv file into the same folder as the current Jupyter notebook
<li>Run the code below and then answer the questions
</ol></p>

<b>Penalties:</b> You will incur penalties if:
<ul>
<li>Your answer/code is wrong.</li>
<li>Your answer format is different than the question requested.</li>
<li>Your code does not work on different data (no hard coding).</li>
<li>You use for loops or list comprehension.</li>
<li>Your code is directly or indirectly referenced from GenAI tools.</li>
<li>Your code is identical or highly similar to that of another student (all parties involved will face penalties).</li>
<li>Your code deviates entirely from the concepts and methods taught in the course lectures.</li>
</ul>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# suppress all warning
#import warnings
#warnings.simplefilter(action='ignore')

In [4]:
df_2016 = pd.read_csv('US_crime_rate_2016.csv', thousands=',')
df_2017 = pd.read_csv('US_crime_rate_2017.csv', thousands=',')

In [6]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 200)

<p>These two data sets report information for year 2016 and year 2017, Offenses Reported to Law Enforcement by State by City 100,000 and over in population.			
<ul>
<li><b>State</b>: 
<li><b>City</b>:
<li><b>Year</b>: 
<li><b>Population</b>: 
<li><b>Violent crime</b>: 
<li><b>Murder</b>: 
<li><b>Rape</b>: 
<li><b>Robbery</b>: 
<li><b>Aggravated assault</b>: 
<li><b>Property crime</b>: 
<li><b>Burglary</b>: 
<li><b>Larceny-theft</b>: 
<li><b>Motor vehicle theft</b>: 
<li><b>Arson</b>: 
</ul></p>

In [9]:
df_2016.head()

,State,City,Year,Population,Violent crime,Murder,Rape,Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,ALABAMA,BIRMINGHAM,2016,212549,1732,44,75,460,1153,5875,1318,3807,750,76
1,ALABAMA,MOBILE,2016,249921,793,18,47,181,547,5169,1100,3724,345,45
2,ALABAMA,MONTGOMERY,2016,199565,563,18,42,187,316,4229,1043,2790,396,35
3,ALASKA,ANCHORAGE,2016,299097,1692,9,302,326,1055,6853,1031,4901,921,38
4,ARIZONA,CHANDLER,2016,265922,272,1,61,69,141,2987,453,2373,161,8

In [11]:
df_2017.head()

,State,City,Year,Population,Violent crime,Murder,Rape,Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,ALABAMA,BIRMINGHAM,2017,NaN,1829,42,92,472,1223,6458,1292,4350,816,87
1,ALABAMA,MOBILE,2017,NaN,925,20,53,235,617,6482,1507,4344,631,51
2,ALABAMA,MONTGOMERY,2017,NaN,656,19,35,185,417,4246,1031,2797,418,41
3,ALASKA,ANCHORAGE,2017,NaN,1707,13,196,369,1129,7708,1089,5180,1439,31
4,ARIZONA,CHANDLER,2017,NaN,303,1,67,72,163,2906,401,2298,207,10

## Q1, Let's take a look at some general information. (30 pts) 
### Hint: Pay attention on 'Year'

### **Q1.1:** Are there any NaN values in these two datasets? Respond with 'True' or 'False'. If 'True', also provide the column names where NaN values exist. *(5 pts)*

### **Q1.2**, If there are column(s) with NaN in one of the data set, fill in the missing data with the matching column from another data set.  After this step, show both data sets have no missing data anymore. (5 pts)

### **Q1.3:** Using the 2016 records, how many cities have names starting with the letter 'M'? *(5 pts)*

### **Q1.4:** From the 2017 records, which city has the highest number of aggravated assault cases? Provide the city's name and the case count. *(5 pts)*

### **Q1.5:** In the 2016 records, how many cities have a population greater than ten times the average city population across the entire dataset? Additionally, list these cities in a **List** data structure *(5 pts)*

### **Q1.6:** Based on the 2017 records:
####   Q1.6.1, How many unique cities are present in the dataset? (1 pt)
####   Q1.6.2, What is the most frequently appearing city name in the dataset, and how many times does it appear? (2 pts)
####   Q1.6.3, List the state names that contain the most frequently appearing city. (2 pts)
Hints:

1, The same city name in different states should be treated as separate entries.

2, Your code should account for potential ties.

Q1.6.1:

Q1.6.2:

Q1.6.3:

## Q2 Look into crimes in Year 2016 (10 pts)

### Q2.1 Based on 2016's record, find the cities that has more than 100 murders and 1000 robberies. List the city names only. (5 pts)

### **Q2.2:** According to the 2016 records:
###   - Which state(s) have the highest number of cities included in the dataset?
###   - Which state(s) have the lowest number of cities included?  
###   Provide the state names and their respective city counts. Include all states in the case of a tie. *(5 pts)*

## Q3 Combine both years' record into one. (10 pts)

### **Q3.1:** Using these two datasets, create a combined dataset with `pd.concat()`. What are the row and column counts for the resulting DataFrame? *(5 pts)*  
Hint: Refer to the Pandas documentation for `pd.concat()`

### Q3.2, Rearrange this new data set's rows so the same State/City has Year 2016 and 2017's data listed adjacent to each other. After the rearrangement, shows the last 5 rows's State, City, Year and Population. (5 pts)

#### Example:

<img src="df-example.jpg" />

## Q4, More crime investigations  (20 pts)

### **Q4.1** Identify the cities where the number of 'Motor vehicle theft' cases exceeds six times the dataset's average. How many such cities are there, and what are their names? (5 pts)

### Q4.2, Assume the 'crime_index' is calculated as follows: `crime_index = Violent crime + Aggravated assault + Property crime + Robbery`. Using data from both 2016 and 2017, identify the top 3 cities with the highest combined 'crime_index'. Provide the State, City, and the combined 'crime_index' for these cities.  (5 pts)

### Q4.3, Now, let's factor in the 'Population' by defining a 'normalized_crime_index' as: `(crime_index / Population) * 100`. Based on the combined 'crime_index' for 2016 and 2017, identify the top 3 cities with the highest 'normalized_crime_index'. Provide the State, City, and 'normalized_crime_index' for these cities.  (5 pts)

### Q4.4, For each state, determine the following: (1) the total number of cities in the dataset (rename this column to 'City_count'), and (2) the maximum population, minimum population, and the difference between them (rename this column to 'Spread_Population') for cities in that state. Display the results in a table, showing only the first 5 states.  (5 pts)

Hint: don't double count the city

## Q5 Charts, Correlations and Crimes (15 pts)

### Q5.1, Plot a bar chart to show the top 10 states with the highest arson count. (5 pts)

### Q5.2, Remove all columns that were added by you and restore the DataFrame to its original state. Using correlations, identify the top 3 pairs of crime types with the strongest relationships to each other. (5 pts)

### Q5.3, Using data from both 2016 and 2017, compare the *Violent crime* counts for each City between the two years. Identify the top 5 cities with the largest increase in counts (`counts(2017) - counts(2016)`) and name this column 'Vcrime Increase'. Display the State, City, and 'Vcrime Increase' columns only. (5 pts)
 
Hint: Start with **merging** df_2016 and df_2017 as one data frame.

## Q6 Machine Learning (15 pts)

In [102]:
import sklearn as sk
import sklearn.tree as tree
from IPython.display import Image  
import pydotplus

### Some preparation works done for you:
* Load US_crime_rate_ML.csv as df_ML
* Create a 2-levels DecisionTree object as dt

In [104]:
df_ML=pd.read_csv('US_crime_rate_ML.csv')

Set up a 2-levels Decision Tree Classifier

In [106]:
dt = tree.DecisionTreeClassifier(max_depth=2)

### Q6.1, Using `df_ML`, define a 'Safe City' as a city where 'Violent crime' is less than or equal to 50% of the national average for 'Violent crime'. Treat 'Safe City' as the target variable (Y) and build a two-level Decision Tree. 

### Q6.1.1: First, display the Decision Tree graph *(5 pts)*, 

### Q6.1.2: Interpret the graph by explaining the characteristics of the 4 different end nodes.   (5 pts)

Q6.1.1:

#### Q6.1.2, Conclusion:
Node 1(the leftmost): fill-in-the-blank

Node 2(the 2nd from left): fill-in-the-blank

Node 3(the 2nd from right): fill-in-the-blank

Node 4(the rightmost): fill-in-the-blank

### Q6.2, Use two bar charts to prove the DecisionTree made a good choice on selecting those criterias. Provide a oneliner conclusion for each graph. (5 pts)

Hint: Use discretization.

### Graph 1, Focus on  *Aggravated assult* only.  (2.5 pts)

**conclusion 1**:  fill-in-the-blank

### Graph 2, Focus on *Robbery* only. (2.5 pts)

**Conclusion 2:** fill-in-the-blank