# 2024 Fall Data Analytics /w Python 545 Midterm

<b>Penalties:</b> You will incur penalties if:
<ul>
<li>Your code is wrong</li>
<li>Your code would not work on different data</li>
</ul>

### Any forms of cheating will lead to 0 pt for this test!

### There are 3 data sets for this test. First two are related to stock index, which should be  used for Q1 to Q3. The 3rd data set is Boston area police interventions record, which should be use to answer the rest of the questions.

###  For Q1 to Q3:
<b>Stock History info for NASDAQ and S&P500  for the last 5 years:</b>  NASDAQ_COMP_5Y.csv  and SP500_SPX_5Y.csv

In [5]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

The following code creates a Series object <i>stock</i> based on GOOGL.csv file. Index is the date and the variable is the Google stock closing prices.

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
# Load NASDAQ
data_NASDAQ = pd.read_csv('NASDAQ_COMP_5Y.csv',index_col=0)
data_NASDAQ.index = data_NASDAQ.index.astype('datetime64[ns]')

In [9]:
# Load S&P500
data_SP500 = pd.read_csv('SP500_SPX_5Y.csv',index_col=0)
data_SP500.index = data_SP500.index.astype('datetime64[ns]')

In [10]:
data_NASDAQ.head()
data_NASDAQ.tail()

            Close/Last      Open      High       Low
Date
2024-10-25    18518.61  18512.58  18690.01  18487.06
2024-10-24    18415.49  18384.15  18435.37  18305.42
2024-10-23    18276.65  18502.06  18509.19  18146.61
2024-10-22    18573.13  18451.86  18620.71  18413.47
2024-10-21    18540.00  18456.48  18543.58  18377.62

            Close/Last     Open     High      Low
Date
2019-11-01     8386.40  8335.05  8386.75  8326.56
2019-10-31     8292.36  8314.38  8321.80  8248.81
2019-10-30     8303.98  8284.28  8315.50  8241.70
2019-10-29     8276.85  8313.35  8319.29  8275.14
2019-10-28     8325.99  8285.77  8335.56  8285.27

In [11]:
data_SP500.head()
data_SP500.tail()

            Close/Last     Open     High      Low
Date
2024-10-25     5808.12  5826.75  5862.82  5799.98
2024-10-24     5809.86  5817.80  5817.80  5784.92
2024-10-23     5797.42  5834.50  5834.85  5762.41
2024-10-22     5851.20  5832.70  5863.04  5821.17
2024-10-21     5853.98  5857.82  5866.92  5824.79

            Close/Last     Open     High      Low
Date
2019-11-01     3066.91  3050.72  3066.95  3050.72
2019-10-31     3037.56  3046.90  3046.90  3023.19
2019-10-30     3046.77  3039.74  3050.10  3025.96
2019-10-29     3036.89  3035.39  3047.87  3034.81
2019-10-28     3039.42  3032.12  3044.08  3032.12

## Q1, General Investigations on NASDAQ

### Q1.1, What's the highest Closing price for NASDAQ ? Show Date and the Closing price. (4 pts)

### Q1.2, Which day NASDAQ has the highest fluctuation within one trading day ? Show the date and the amount. (4 pts)
Hint: fluctuation is the price change within one day

### Q1.3, How many trading days NASDAQ's *Close/Last* price are higher than *Open* price ? (4 pts)

### Q1.4, Consider only the data from 2023-01-01 to 2023-12-31(both included), total how many trading days in this window ? (4 pts)

## Q2, Stock Charts

### Q2.1, Plot both NASDAQ and S&P500 two stocks' *Close/Last* price in one chart with proper legend and title. (5 pts)
Note: Use blue for NASDAQ, red for SP500

### Q2.2, Normalize the values and plot these two stocks' Close/Last price in one chart again with proper legend and title. (5 pts)
Hint: **Normalize** means all values divided by their initial value

## Q3, Investment Strategies

### 3.1, Consider only the NASDAQ Stock, with this investment strategy: buy whenever the price goes above the 30-day moving average, and then sell after 10 trading sessions. How much profit ratio would we make on average? (5 pts)
Hint: The initial value is the close price at the oldest date

### Q3.2, Use above question's profit ratio(no hard-coding). If we use $1000 to start with this investiment strategy, what will be the end profit in dollar amount ? (5 pts)

# Now let's work on the 2nd data set, Boston police intervention records.

In [49]:
df = pd.read_csv('Intervention-v1.csv',index_col='DATE')
df.index = df.index.astype('datetime64[s]')

In [50]:
df.head()

,CITY,REASONS,SUBJECT_AGE,SUBJECT_VEHICLE,SUBJECT_GENDER,SUBJECT_ETHNICITY,SUBJECT_CLOTHING,OFFICER_ID
DATE,,,,,,,,
2013-12-10,NaN,"DRUGS, INVESTIGATION",59,NISSAN,MALE,B(Black),"blk jacket, blk shirt, blue jeans, wht sneakers",98656
2012-05-24,OTHER,"DRUGS, POSSESSION",26,NO DATA ENTERED,MALE,W(White),"GRY. SWEATSHIRT, BLUE JEANS",9765
2012-06-04,NaN,"INVESTIGATE, PERSON",18,NO DATA ENTERED,MALE,B(Black),"GRY SWEATSHIRT, GRY PANTS",83575
2014-06-21,Dorchester,ABDW,24,NO DATA ENTERED,MALE,B(Black),"lime green shirt, blue jeans",76146
2010-12-02,Dorchester,VAL,70,SATURN,MALE,B(Black),BLU DOWN VEST BLU PANTS,107106

## Data Description

The data set reports information on police interventions near Boston (one intervention per row). During an intervention, a police officer (identified by an OFFICER_ID), records information on a subject suspected to be violating the law.

#### Columns:
<ul>
<li><b>DATE</b>: the date of the intervention
<li><b>CITY</b>: the city where the intervention occurred
<li><b>REASONS</b>: a comma-separated list of reasons why the officer intervened
<li><b>SUBJECT_AGE</b>: the age of the subject suspected to be violating the law
<li><b>SUBJECT_VEHICLE</b>: the subject's vehicle's car maker
<li><b>SUBJECT_GENDER</b>: the subject's gender
<li><b>SUBJECT_ETHNICITY</b>: the subject's ethnicity
<li><b>SUBJECT_CLOTHING</b>: a comma-separated list of clothes worn by the subject
<li><b>OFFICER_ID</b>: the id of the officer performing the intevention
</ul>

## Question 4 - General Investigation

### 4.1, How many interventions in this dats set? And how many interventions occurred in 'South Boston'? (4 pts)

### 4.2, How many different police officer in this data set ? (4 pts)

### 4.3, What's the top 5 cities which has the highest interventions? Show the city name and their interventions count in descending order. (4 pts)

## Question 5, General Investigation - cont.

### 5.1, Which column has the most Nan in it and how many Nan ? (4 pts)

### 5.2, There are some rows has incorrect date entry(the DATEs are in the future compare to today's date '2024-10-31'. How many rows has this type of error? (4 pts)

### 5.3, There are some rows' *SUBJECT_AGE* entry with age = -1 . How many rows has this type of error? replace those '-1' with '0' then report the total number of rows with *SUBJECT_AGE* = 0. (4 pts)

## Question 6, ETHNICITY Investigation

### 6.1, For each *SUBJECT_ETHNICITY*, what the total interventions number? Show the ethnicity and their total intervention numbers in decending order. (5 pts)

### 6.2, What *SUBJECT_ETHNICITY* has the highest average *SUBJECT_AGE*? Report the ethnicity and its aveage age. (5 pts)

## Question 7, Intervention Reasons

### 7.1, What's the top 5 reasons for police interventions ? (5 pts)

### 7.2, What is the proportion of interventions whose *REASONS* include FIREARM or DRUGS? You must only return one number between 0 and 1. Do not round it. (5 pts)

## Question 8, Gender and Age Investigation

### Q8.1, Based on *SUBJECT_GENDER*,  consider only *SUBJECT_AGE* between 15 to 100(both 15 and 100 are included).Show each group's average age in one table(5 pts).

### Q8.2, Based on above queston, Show each group's age maximum, minimum and the gap between max and min(call that gap 'age_spread') in one table. (5 pts)

## Question 9, Vehicle Investigation

### For each OFFICER_ID, find the number of interventions whose SUBJECT_VEHICLE is a HONDA or a BMW. Call these columns N_HONDA and N_BMW, respectively. Display the result table's first 5 rows based on N_HONDA in descending order. (10 pts)